@tailwind base;

@tailwind components;

@tailwind utilities;


/*** COMPONENTS ***/
/* Footer */
/* @layer components {
  .react-icon {
    transform: rotate(20deg);
  }
} */

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}

